*{
    margin: 0;
    padding: 0;
}
.container{
   margin: auto;
   width: 600px;
    border: 1px solid gray;
    margin-top: 50px;
}

.container h1{
    text-align: center;
}
.container h1{
    font-size: 50px;
    color: orangered;
    margin-bottom: 20px;
}
.container h2{
    font-size: 18px;
    margin-left: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 10px;
}

.container h3{
    font-size: 30px;
    color: orangered;
    padding-left: 50px;
}

.allanswers{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 20px;
}
.allanswers button{
    width: 200px;
    height: 30px;
    margin: 5px;
    font-size: 15px;
    transition: color, background-color 0.2s;
    border: none;
    background-color: orangered;

}
.allanswers button:hover{
    cursor: pointer;
    background-color: rgb(49, 140, 173);
    color: white;
}

#reappear {
  width: 200px;
  height: 30px;
  font-size: 15px;
  transition: color, background-color 0.2s;
  border: none;
  background-color: orange;
  color: white;
  /* display: none; */
}

#reappear:hover{
    cursor: pointer;
    background-color: orangered;
}